@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.d-flex {
    display: flex;
}

.justify {
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-cen {
    align-items: center;
}

nav {
    box-shadow: 1px 0 10px -5px #000;

}

.nav-main {
    margin: 0 3rem;
    padding: 0 1.1rem;
    height: 70px;
    min-width: 992px;
    width: 1200px;
}

.nav-list {
    text-decoration: none;
    list-style: none;
    height: 100%;
    position: relative;

}

.nav-list:not(:last-child) {
    margin-right: 1.1rem;
}

.nav-list a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 14px;
    margin-right: 10px;  
}

.nav-list a:hover{
    color: #E31C25;
    transition: .3s ease-in-out;
}

.nav-list:focus .drop-down,
.nav-list:hover .drop-down {
    display: block;
}

.menu {
    width: 100%;
    height: 100%;
}

.menu ul {
    justify-content: flex-end;
    height: 100%;
}

.cart, .search {
    margin-left: 22px;
    width: 50px;
    position: relative;
}

.search {
    margin-left: 5px;
}

.cart a, .search a {
    text-decoration: none;
    color: #000;
}

.logo img {
    height: 3rem;
}

.cart-count {
  border-radius: 50%;
  position: absolute;
  top: -5px;
  background: #c61515;
  color: #fff;
  width: 15px;
  height: 17px;
  align-items: center;
  text-align: center;
  font-size: 12px;
  left: 9px;
}

.fa-chevron-down {
    color: grey;
}

.drop-ul {
    list-style: none;
}

.drop-ul a {
    text-decoration: none;
}
.drop-li {
    padding: 5px;
}

.drop-down {
    /* padding: 1rem; */
    position: absolute;
    top: 71px;
    width: 200px;
    background: #f3efef;
    display: none;
}

.drop-down .drop-li:hover {
    background: #c61515;
    color: #fff;

}
.bar {
    background: #e31d26;
    font-size: 20px;
    padding: 12px 20px;
    line-height: normal;
    color: #fff;
    display: none;
}


@media (max-width:1200px) {
    .nav-main {
        padding: 0 2.1rem;
    }
}

@media (max-width:1000px){
    .menu {
        display: none;
    }
}